.carousel {
  height: 3.2rem;
  background: #fff;
  &-list {
    height: 100%;
    overflow: hidden;
    &-item {
      height: 3.2rem;
      a {
        height: 3.2rem;
        display: block;
        img {
          height: 3.2rem;
        }
      }
    }
  }
}